/* You can add global styles to this file, and also import other style files */
/* styles.css or styles.scss */

.toast-success {
  background-color: #28a745 !important; /* Green */
  color: #fff !important;
}

.toast-error {
  background-color: #dc3545 !important; /* Red */
  color: #fff !important;
}

.toast-warning {
  background-color: #ffc107 !important; /* Yellow */
  color: #212529 !important;
}

.toast-info {
  background-color: #17a2b8 !important; /* Light blue */
  color: #fff !important;
}

/* Optional: make the close button white */
.toast-close-button {
  color: #fff !important;
}
